<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout1 :: head"></head>

<body>

	<header th:replace="layout/layout1 :: header"></header>
	<div class="container">

		<form th:action="@{/conductores/form}" th:object="${conductor}" method="post">
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Tipo de Identificación</label>
					<select class="custom-select"  th:value="*{tipoIdentificacion}"
					th:field="*{tipoIdentificacion}">
						<option selected th:value="''">Tipo</option>
						<option value="1" th:value="'CC'">CC</option>
						<option value="2" th:value="'CE'">CE</option>
						<option value="3" th:value="'NIT'">NIT</option>
					</select>
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('tipoIdentificacion')}" th:errors="*{tipoIdentificacion}"></small>
				</div>
				<div class="form-group col-md-6">
					<label for="documento">Número de Identificación</label>
					<input type="text" class="form-control" th:field="*{numeroIdentificacion}"  id="numeroIdentificacion" placeholder="Identificación">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('numeroIdentificacion')}" th:errors="*{numeroIdentificacion}"></small>
				</div>
			</div>
			<div class="form-group">
				<label for="nombre">Nombre Completo</label>
				<input type="text" class="form-control" th:field="*{nombreCompleto}" id="nombre" placeholder="Nombre">
				<small class="form-text text-danger"
						th:if="${#fields.hasErrors('nombreCompleto')}" th:errors="*{nombreCompleto}"></small>
			</div>
			<div class="form-group">
				<label for="direccion">Dirección</label>
				<input type="text" class="form-control" th:field="*{direccion}" id="direccion" placeholder="Dirección">
				<small class="form-text text-danger"
						th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}"></small>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="ciudad">Ciudad</label>
					<input type="text" class="form-control" th:field="*{ciudad}" id="ciudad" placeholder="Ciudad">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('ciudad')}" th:errors="*{ciudad}"></small>
				</div>
				<div class="form-group col-md-6">
					<label for="departamento">Departamento</label>
					<input type="text" class="form-control" th:field="*{departamento}" id="departamento" placeholder="Departamento">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('departamento')}" th:errors="*{departamento}"></small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="país">País</label>
					<input type="text" class="form-control" th:field="*{pais}" id="país" placeholder="País">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></small>
				</div>
				<div class="form-group col-md-6">
					<label for="telefono">Teléfono</label>
					<input type="text" class="form-control" th:field="*{telefono}" id="telefono" placeholder="Teléfono">
					<small class="form-text text-danger"
						th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}"></small>
				</div>
			</div>
			<button type="submit" class="btn btn-primary">Guardar</button>
		</form>

	</div>

</body>

</html>